# First Step of Data Preparation Process

In this notebook file, raw images will be read with opencv library.

Persons with more than 4 photos will be saved as a pandas dataframe with their names and specified IDs.

Photos of persons will be saved as Training, Validation and Test dataframes with match their IDs.

All dataframes will be saved as md5 files for future use after checking.

See All images gzipped tar file, in http://vis-www.cs.umass.edu/lfw/ for dataset.

All folders in the lfw folder inside the lfw.tgz file have been copied to the /Data/RawData/FaceImage/ path.

In [1]:
#Importing libraries
import os
import numpy as np
import cv2
import pandas as pd

In [2]:
#Printing library versions
print('numpy Version: ' + np.__version__)
print('cv2 Version: ' + cv2.__version__)
print('pandas Version: ' + pd.__version__)

numpy Version: 1.21.5
cv2 Version: 3.4.2
pandas Version: 1.3.5

In [3]:
#Reading Images
#cv2 library works with BGR color ordering instead of RGB by default.
#Since all reading and writing operations will be done with the cv2 library, 
#the images will be used in BGR format in order not to make continuous color conversions in the living application.

#The data is splitting as training and test data.
#Ensuring each person is represented in both training and test data.

#Although it seems that 1/3 of the data is splitted as test data in the codes,
#this ratio is expected to be around 1/4 since the Floor division operator is used for each person.

#The splitting of test data is done in the first step.
#In this way, models can be trained on the same training dataset.
#In this way, the performance difference caused by randomly splitting the training dataset with better quality will be eliminated.
#In this way, it will be possible to see more accurately which model or parameters are better.

person = []
trainingImage = []
testImage = []
imageSize = {}

personCounter = 0
directory = os.listdir('../Data/RawData/FaceImage/')
for s in directory:
    path, dirName, file = next(os.walk('../Data/RawData/FaceImage/' + s))
    
    #Checking if there is a different directories inside the directories.
    if len(dirName) > 0:
        print('Warning: Another directory is detected in ' + path)
    
    #Those with less than 5 photos are ignored
    fileSize = len(file)
    if fileSize > 4:
        person.append({'ID' : personCounter, 'Name' : s.replace('_', ' ')})
        counter = 0
        for f in file:
            counter += 1
            img = cv2.imread('../Data/RawData/FaceImage/' + s  + '/' + f)
            
            #Checking the shape of the images
            if imageSize.get(img.shape) is None:
                print('New image shape detected ' + str(img.shape) + ' in ' +  '../Data/RawData/FaceImage/' + s  + '/' + f)
                imageSize[img.shape] = 1
            else:
                imageSize[img.shape] += 1
                
            if counter < fileSize // 3:
                testImage.append({'PersonID' : personCounter, 'ImageBGR' : img})
            else:
                trainingImage.append({'PersonID' : personCounter, 'ImageBGR' : img})
            
        personCounter += 1

New image shape detected (250, 250, 3) in ../Data/RawData/FaceImage/Abdullah_Gul/Abdullah_Gul_0001.jpg

#### As all images are the same shape, from now on there will be no worries about the shape of the images

In [4]:
#size of imageSize Dictionary
len(imageSize)

1

In [5]:
#imageSize Dictionary
imageSize

{(250, 250, 3): 5985}

In [6]:
#size of person Dictionary
len(person)

423

In [7]:
#person Dictionary
person

[{'ID': 0, 'Name': 'Abdullah Gul'},
 {'ID': 1, 'Name': 'Adrien Brody'},
 {'ID': 2, 'Name': 'Ahmed Chalabi'},
 {'ID': 3, 'Name': 'Ai Sugiyama'},
 {'ID': 4, 'Name': 'Alan Greenspan'},
 {'ID': 5, 'Name': 'Alastair Campbell'},
 {'ID': 6, 'Name': 'Albert Costa'},
 {'ID': 7, 'Name': 'Alejandro Toledo'},
 {'ID': 8, 'Name': 'Ali Naimi'},
 {'ID': 9, 'Name': 'Allyson Felix'},
 {'ID': 10, 'Name': 'Alvaro Uribe'},
 {'ID': 11, 'Name': 'Al Gore'},
 {'ID': 12, 'Name': 'Al Sharpton'},
 {'ID': 13, 'Name': 'Amelia Vega'},
 {'ID': 14, 'Name': 'Amelie Mauresmo'},
 {'ID': 15, 'Name': 'Ana Guevara'},
 {'ID': 16, 'Name': 'Ana Palacio'},
 {'ID': 17, 'Name': 'Andre Agassi'},
 {'ID': 18, 'Name': 'Andy Roddick'},
 {'ID': 19, 'Name': 'Angela Bassett'},
 {'ID': 20, 'Name': 'Angela Merkel'},
 {'ID': 21, 'Name': 'Angelina Jolie'},
 {'ID': 22, 'Name': 'Anna Kournikova'},
 {'ID': 23, 'Name': 'Ann Veneman'},
 {'ID': 24, 'Name': 'Antonio Banderas'},
 {'ID': 25, 'Name': 'Antonio Palocci'},
 {'ID': 26, 'Name': 'Ariel Sharon'},
 {'ID': 27, 'Name': 'Ari Fleischer'},
 {'ID': 28, 'Name': 'Arminio Fraga'},
 {'ID': 29, 'Name': 'Arnoldo Aleman'},
 {'ID': 30, 'Name': 'Arnold Schwarzenegger'},
 {'ID': 31, 'Name': 'Ashanti'},
 {'ID': 32, 'Name': 'Atal Bihari Vajpayee'},
 {'ID': 33, 'Name': 'Benazir Bhutto'},
 {'ID': 34, 'Name': 'Benjamin Netanyahu'},
 {'ID': 35, 'Name': 'Ben Affleck'},
 {'ID': 36, 'Name': 'Bernard Law'},
 {'ID': 37, 'Name': 'Bertie Ahern'},
 {'ID': 38, 'Name': 'Billy Crystal'},
 {'ID': 39, 'Name': 'Bill Clinton'},
 {'ID': 40, 'Name': 'Bill Frist'},
 {'ID': 41, 'Name': 'Bill Gates'},
 {'ID': 42, 'Name': 'Bill Graham'},
 {'ID': 43, 'Name': 'Bill McBride'},
 {'ID': 44, 'Name': 'Bill Simon'},
 {'ID': 45, 'Name': 'Binyamin Ben-Eliezer'},
 {'ID': 46, 'Name': 'Bob Graham'},
 {'ID': 47, 'Name': 'Bob Hope'},
 {'ID': 48, 'Name': 'Bob Stoops'},
 {'ID': 49, 'Name': 'Boris Becker'},
 {'ID': 50, 'Name': 'Brad Johnson'},
 {'ID': 51, 'Name': 'Britney Spears'},
 {'ID': 52, 'Name': 'Bulent Ecevit'},
 {'ID': 53, 'Name': 'Calista Flockhart'},
 {'ID': 54, 'Name': 'Cameron Diaz'},
 {'ID': 55, 'Name': 'Carla Del Ponte'},
 {'ID': 56, 'Name': 'Carlos Menem'},
 {'ID': 57, 'Name': 'Carlos Moya'},
 {'ID': 58, 'Name': 'Carmen Electra'},
 {'ID': 59, 'Name': 'Carrie-Anne Moss'},
 {'ID': 60, 'Name': 'Catherine Deneuve'},
 {'ID': 61, 'Name': 'Catherine Zeta-Jones'},
 {'ID': 62, 'Name': 'Celine Dion'},
 {'ID': 63, 'Name': 'Cesar Gaviria'},
 {'ID': 64, 'Name': 'Chanda Rubin'},
 {'ID': 65, 'Name': 'Charles Moose'},
 {'ID': 66, 'Name': 'Charles Taylor'},
 {'ID': 67, 'Name': 'Charlton Heston'},
 {'ID': 68, 'Name': 'Chen Shui-bian'},
 {'ID': 69, 'Name': 'Choi Sung-hong'},
 {'ID': 70, 'Name': 'Christine Baumgartner'},
 {'ID': 71, 'Name': 'Christine Todd Whitman'},
 {'ID': 72, 'Name': 'Ciro Gomes'},
 {'ID': 73, 'Name': 'Clara Harris'},
 {'ID': 74, 'Name': 'Claudia Pechstein'},
 {'ID': 75, 'Name': 'Clay Aiken'},
 {'ID': 76, 'Name': 'Clint Eastwood'},
 {'ID': 77, 'Name': 'Colin Farrell'},
 {'ID': 78, 'Name': 'Colin Montgomerie'},
 {'ID': 79, 'Name': 'Colin Powell'},
 {'ID': 80, 'Name': 'Condoleezza Rice'},
 {'ID': 81, 'Name': 'Costas Simitis'},
 {'ID': 82, 'Name': 'Cruz Bustamante'},
 {'ID': 83, 'Name': 'David Anderson'},
 {'ID': 84, 'Name': 'David Beckham'},
 {'ID': 85, 'Name': 'David Heymann'},
 {'ID': 86, 'Name': 'David Nalbandian'},
 {'ID': 87, 'Name': 'David Trimble'},
 {'ID': 88, 'Name': 'David Wells'},
 {'ID': 89, 'Name': 'Dennis Hastert'},
 {'ID': 90, 'Name': 'Dennis Kucinich'},
 {'ID': 91, 'Name': 'Denzel Washington'},
 {'ID': 92, 'Name': 'Diana Krall'},
 {'ID': 93, 'Name': 'Dick Cheney'},
 {'ID': 94, 'Name': 'Dominique de Villepin'},
 {'ID': 95, 'Name': 'Donald Rumsfeld'},
 {'ID': 96, 'Name': 'Edmund Stoiber'},
 {'ID': 97, 'Name': 'Eduardo Duhalde'},
 {'ID': 98, 'Name': 'Eduard Shevardnadze'},
 {'ID': 99, 'Name': 'Edward Lu'},
 {'ID': 100, 'Name': 'Elizabeth Hurley'},
 {'ID': 101, 'Name': 'Elizabeth Smart'},
 {'ID': 102, 'Name': 'Elsa Zylberstein'},
 {'ID': 103, 'Name': 'Elton John'},
 {'ID': 104, 'Name': 'Emanuel Ginobili'},
 {'ID': 105, 'Name': 'Emma Watson'},
 {'ID': 106, 'Name': 'Enrique Bolanos'},
 {'ID': 107, 'Name': 'Erika Harold'},
 {'ID': 108, 'Name': 'Fernando Gonzalez'},
 {'ID': 109, 'Name': 'Fernando Henrique Cardoso'},
 {'ID': 110, 'Name': 'Fidel Castro'},
 {'ID': 111, 'Name': 'Frank Solich'},
 {'ID': 112, 'Name': 'Fujio Cho'},
 {'ID': 113, 'Name': 'Gene Robinson'},
 {'ID': 114, 'Name': 'Geoff Hoon'},
 {'ID': 115, 'Name': 'George Clooney'},
 {'ID': 116, 'Name': 'George HW Bush'},
 {'ID': 117, 'Name': 'George Lopez'},
 {'ID': 118, 'Name': 'George Pataki'},
 {'ID': 119, 'Name': 'George Robertson'},
 {'ID': 120, 'Name': 'George W Bush'},
 {'ID': 121, 'Name': 'Gerhard Schroeder'},
 {'ID': 122, 'Name': 'Gerry Adams'},
 {'ID': 123, 'Name': 'Gil de Ferran'},
 {'ID': 124, 'Name': 'Gloria Macapagal Arroyo'},
 {'ID': 125, 'Name': 'Goldie Hawn'},
 {'ID': 126, 'Name': 'Gonzalo Sanchez de Lozada'},
 {'ID': 127, 'Name': 'Gordon Brown'},
 {'ID': 128, 'Name': 'Grant Hackett'},
 {'ID': 129, 'Name': 'Gray Davis'},
 {'ID': 130, 'Name': 'Gregg Popovich'},
 {'ID': 131, 'Name': 'Guillermo Coria'},
 {'ID': 132, 'Name': 'Gunter Pleuger'},
 {'ID': 133, 'Name': 'Gwyneth Paltrow'},
 {'ID': 134, 'Name': 'Habib Rizieq'},
 {'ID': 135, 'Name': 'Halle Berry'},
 {'ID': 136, 'Name': 'Hal Gehman'},
 {'ID': 137, 'Name': 'Hamid Karzai'},
 {'ID': 138, 'Name': 'Hans Blix'},
 {'ID': 139, 'Name': 'Harrison Ford'},
 {'ID': 140, 'Name': 'Heidi Klum'},
 {'ID': 141, 'Name': 'Heizo Takenaka'},
 {'ID': 142, 'Name': 'Hillary Clinton'},
 {'ID': 143, 'Name': 'Hitomi Soga'},
 {'ID': 144, 'Name': 'Holly Hunter'},
 {'ID': 145, 'Name': 'Hosni Mubarak'},
 {'ID': 146, 'Name': 'Howard Dean'},
 {'ID': 147, 'Name': 'Hugh Grant'},
 {'ID': 148, 'Name': 'Hugo Chavez'},
 {'ID': 149, 'Name': 'Hu Jintao'},
 {'ID': 150, 'Name': 'Ian Thorpe'},
 {'ID': 151, 'Name': 'Igor Ivanov'},
 {'ID': 152, 'Name': 'Jackie Chan'},
 {'ID': 153, 'Name': 'Jack Straw'},
 {'ID': 154, 'Name': 'Jacques Chirac'},
 {'ID': 155, 'Name': 'Jacques Rogge'},
 {'ID': 156, 'Name': 'Jake Gyllenhaal'},
 {'ID': 157, 'Name': 'James Blake'},
 {'ID': 158, 'Name': 'James Kelly'},
 {'ID': 159, 'Name': 'James Wolfensohn'},
 {'ID': 160, 'Name': 'Jan Ullrich'},
 {'ID': 161, 'Name': 'Jason Kidd'},
 {'ID': 162, 'Name': 'Javier Solana'},
 {'ID': 163, 'Name': 'Jay Garner'},
 {'ID': 164, 'Name': 'Jean-David Levitte'},
 {'ID': 165, 'Name': 'Jean-Pierre Raffarin'},
 {'ID': 166, 'Name': 'Jean Charest'},
 {'ID': 167, 'Name': 'Jean Chretien'},
 {'ID': 168, 'Name': 'Jeb Bush'},
 {'ID': 169, 'Name': 'Jelena Dokic'},
 {'ID': 170, 'Name': 'Jennifer Aniston'},
 {'ID': 171, 'Name': 'Jennifer Capriati'},
 {'ID': 172, 'Name': 'Jennifer Garner'},
 {'ID': 173, 'Name': 'Jennifer Lopez'},
 {'ID': 174, 'Name': 'Jeong Se-hyun'},
 {'ID': 175, 'Name': 'Jeremy Greenstock'},
 {'ID': 176, 'Name': 'Jesse Jackson'},
 {'ID': 177, 'Name': 'Jiang Zemin'},
 {'ID': 178, 'Name': 'Jimmy Carter'},
 {'ID': 179, 'Name': 'Jim Furyk'},
 {'ID': 180, 'Name': 'Jiri Novak'},
 {'ID': 181, 'Name': 'JK Rowling'},
 {'ID': 182, 'Name': 'Joan Laporta'},
 {'ID': 183, 'Name': 'Joe Lieberman'},
 {'ID': 184, 'Name': 'John Abizaid'},
 {'ID': 185, 'Name': 'John Allen Muhammad'},
 {'ID': 186, 'Name': 'John Ashcroft'},
 {'ID': 187, 'Name': 'John Bolton'},
 {'ID': 188, 'Name': 'John Edwards'},
 {'ID': 189, 'Name': 'John Howard'},
 {'ID': 190, 'Name': 'John Kerry'},
 {'ID': 191, 'Name': 'John Manley'},
 {'ID': 192, 'Name': 'John McCain'},
 {'ID': 193, 'Name': 'John Negroponte'},
 {'ID': 194, 'Name': 'John Paul II'},
 {'ID': 195, 'Name': 'John Snow'},
 {'ID': 196, 'Name': 'John Stockton'},
 {'ID': 197, 'Name': 'John Travolta'},
 {'ID': 198, 'Name': 'Jonathan Edwards'},
 {'ID': 199, 'Name': 'Jon Gruden'},
 {'ID': 200, 'Name': 'Joschka Fischer'},
 {'ID': 201, 'Name': 'Joseph Biden'},
 {'ID': 202, 'Name': 'Jose Manuel Durao Barroso'},
 {'ID': 203, 'Name': 'Jose Maria Aznar'},
 {'ID': 204, 'Name': 'Jose Serra'},
 {'ID': 205, 'Name': 'Juan Carlos Ferrero'},
 {'ID': 206, 'Name': 'Juan Pablo Montoya'},
 {'ID': 207, 'Name': 'Julianne Moore'},
 {'ID': 208, 'Name': 'Julie Gerberding'},
 {'ID': 209, 'Name': 'Junichiro Koizumi'},
 {'ID': 210, 'Name': 'Justine Pasek'},
 {'ID': 211, 'Name': 'Justin Timberlake'},
 {'ID': 212, 'Name': 'Kalpana Chawla'},
 {'ID': 213, 'Name': 'Kamal Kharrazi'},
 {'ID': 214, 'Name': 'Kate Hudson'},
 {'ID': 215, 'Name': 'Keanu Reeves'},
 {'ID': 216, 'Name': 'Kevin Costner'},
 {'ID': 217, 'Name': 'Kevin Spacey'},
 {'ID': 218, 'Name': 'Kim Clijsters'},
 {'ID': 219, 'Name': 'Kim Dae-jung'},
 {'ID': 220, 'Name': 'Kim Ryong-sung'},
 {'ID': 221, 'Name': 'King Abdullah II'},
 {'ID': 222, 'Name': 'Kofi Annan'},
 {'ID': 223, 'Name': 'Kristanna Loken'},
 {'ID': 224, 'Name': 'Kurt Warner'},
 {'ID': 225, 'Name': 'Lance Armstrong'},
 {'ID': 226, 'Name': 'Lance Bass'},
 {'ID': 227, 'Name': 'Larry Brown'},
 {'ID': 228, 'Name': 'Laura Bush'},
 {'ID': 229, 'Name': 'LeBron James'},
 {'ID': 230, 'Name': 'Leonardo DiCaprio'},
 {'ID': 231, 'Name': 'Leonid Kuchma'},
 {'ID': 232, 'Name': 'Lindsay Davenport'},
 {'ID': 233, 'Name': 'Liza Minnelli'},
 {'ID': 234, 'Name': 'Li Peng'},
 {'ID': 235, 'Name': 'Li Zhaoxing'},
 {'ID': 236, 'Name': 'Lleyton Hewitt'},
 {'ID': 237, 'Name': 'Lucio Gutierrez'},
 {'ID': 238, 'Name': 'Lucy Liu'},
 {'ID': 239, 'Name': 'Ludivine Sagnier'},
 {'ID': 240, 'Name': 'Luis Ernesto Derbez Bautista'},
 {'ID': 241, 'Name': 'Luis Gonzalez Macchi'},
 {'ID': 242, 'Name': 'Luis Horna'},
 {'ID': 243, 'Name': 'Luiz Inacio Lula da Silva'},
 {'ID': 244, 'Name': 'Madonna'},
 {'ID': 245, 'Name': 'Mahathir Mohamad'},
 {'ID': 246, 'Name': 'Mahmoud Abbas'},
 {'ID': 247, 'Name': 'Marcelo Rios'},
 {'ID': 248, 'Name': 'Marco Antonio Barrera'},
 {'ID': 249, 'Name': 'Mariah Carey'},
 {'ID': 250, 'Name': 'Maria Shriver'},
 {'ID': 251, 'Name': 'Maria Soledad Alvear Valenzuela'},
 {'ID': 252, 'Name': 'Mark Hurlbert'},
 {'ID': 253, 'Name': 'Mark Philippoussis'},
 {'ID': 254, 'Name': 'Martha Stewart'},
 {'ID': 255, 'Name': 'Martina McBride'},
 {'ID': 256, 'Name': 'Martin McGuinness'},
 {'ID': 257, 'Name': 'Martin Scorsese'},
 {'ID': 258, 'Name': 'Matthew Perry'},
 {'ID': 259, 'Name': 'Megawati Sukarnoputri'},
 {'ID': 260, 'Name': 'Meryl Streep'},
 {'ID': 261, 'Name': 'Michael Bloomberg'},
 {'ID': 262, 'Name': 'Michael Chang'},
 {'ID': 263, 'Name': 'Michael Chiklis'},
 {'ID': 264, 'Name': 'Michael Douglas'},
 {'ID': 265, 'Name': 'Michael Jackson'},
 {'ID': 266, 'Name': 'Michael Phelps'},
 {'ID': 267, 'Name': 'Michael Powell'},
 {'ID': 268, 'Name': 'Michael Schumacher'},
 {'ID': 269, 'Name': 'Michelle Kwan'},
 {'ID': 270, 'Name': 'Michelle Yeoh'},
 {'ID': 271, 'Name': 'Mick Jagger'},
 {'ID': 272, 'Name': 'Mike Krzyzewski'},
 {'ID': 273, 'Name': 'Mike Martz'},
 {'ID': 274, 'Name': 'Mike Myers'},
 {'ID': 275, 'Name': 'Mike Weir'},
 {'ID': 276, 'Name': 'Mireya Moscoso'},
 {'ID': 277, 'Name': 'Mohamed ElBaradei'},
 {'ID': 278, 'Name': 'Mohammad Khatami'},
 {'ID': 279, 'Name': 'Mohammed Al-Douri'},
 {'ID': 280, 'Name': 'Monica Seles'},
 {'ID': 281, 'Name': 'Muhammad Ali'},
 {'ID': 282, 'Name': 'Muhammad Saeed al-Sahhaf'},
 {'ID': 283, 'Name': 'Nadia Petrova'},
 {'ID': 284, 'Name': 'Naji Sabri'},
 {'ID': 285, 'Name': 'Nancy Pelosi'},
 {'ID': 286, 'Name': 'Naomi Watts'},
 {'ID': 287, 'Name': 'Natalie Coughlin'},
 {'ID': 288, 'Name': 'Natalie Maines'},
 {'ID': 289, 'Name': 'Nestor Kirchner'},
 {'ID': 290, 'Name': 'Nia Vardalos'},
 {'ID': 291, 'Name': 'Nicanor Duarte Frutos'},
 {'ID': 292, 'Name': 'Nick Nolte'},
 {'ID': 293, 'Name': 'Nicole Kidman'},
 {'ID': 294, 'Name': 'Norah Jones'},
 {'ID': 295, 'Name': 'Norm Coleman'},
 {'ID': 296, 'Name': 'Oscar De La Hoya'},
 {'ID': 297, 'Name': 'Oswaldo Paya'},
 {'ID': 298, 'Name': 'Pamela Anderson'},
 {'ID': 299, 'Name': 'Paradorn Srichaphan'},
 {'ID': 300, 'Name': 'Paula Radcliffe'},
 {'ID': 301, 'Name': 'Paul Bremer'},
 {'ID': 302, 'Name': 'Paul Burrell'},
 {'ID': 303, 'Name': 'Paul Martin'},
 {'ID': 304, 'Name': 'Paul McCartney'},
 {'ID': 305, 'Name': 'Paul ONeill'},
 {'ID': 306, 'Name': 'Paul Wolfowitz'},
 {'ID': 307, 'Name': 'Pedro Almodovar'},
 {'ID': 308, 'Name': 'Pedro Malan'},
 {'ID': 309, 'Name': 'Pervez Musharraf'},
 {'ID': 310, 'Name': 'Peter Struck'},
 {'ID': 311, 'Name': 'Pete Sampras'},
 {'ID': 312, 'Name': 'Pierce Brosnan'},
 {'ID': 313, 'Name': 'Princess Caroline'},
 {'ID': 314, 'Name': 'Prince Charles'},
 {'ID': 315, 'Name': 'Queen Elizabeth II'},
 {'ID': 316, 'Name': 'Queen Rania'},
 {'ID': 317, 'Name': 'Rainer Schuettler'},
 {'ID': 318, 'Name': 'Ralf Schumacher'},
 {'ID': 319, 'Name': 'Ray Romano'},
 {'ID': 320, 'Name': 'Recep Tayyip Erdogan'},
 {'ID': 321, 'Name': 'Renee Zellweger'},
 {'ID': 322, 'Name': 'Ricardo Lagos'},
 {'ID': 323, 'Name': 'Ricardo Sanchez'},
 {'ID': 324, 'Name': 'Richard Armitage'},
 {'ID': 325, 'Name': 'Richard Gephardt'},
 {'ID': 326, 'Name': 'Richard Gere'},
 {'ID': 327, 'Name': 'Richard Myers'},
 {'ID': 328, 'Name': 'Richard Virenque'},
 {'ID': 329, 'Name': 'Rick Perry'},
 {'ID': 330, 'Name': 'Robert Blake'},
 {'ID': 331, 'Name': 'Robert De Niro'},
 {'ID': 332, 'Name': 'Robert Duvall'},
 {'ID': 333, 'Name': 'Robert Kocharian'},
 {'ID': 334, 'Name': 'Robert Mueller'},
 {'ID': 335, 'Name': 'Robert Redford'},
 {'ID': 336, 'Name': 'Robert Zoellick'},
 {'ID': 337, 'Name': 'Rob Marshall'},
 {'ID': 338, 'Name': 'Roger Federer'},
 {'ID': 339, 'Name': 'Roger Moore'},
 {'ID': 340, 'Name': 'Roh Moo-hyun'},
 {'ID': 341, 'Name': 'Romano Prodi'},
 {'ID': 342, 'Name': 'Roman Polanski'},
 {'ID': 343, 'Name': 'Ron Dittemore'},
 {'ID': 344, 'Name': 'Roy Moore'},
 {'ID': 345, 'Name': 'Rubens Barrichello'},
 {'ID': 346, 'Name': 'Rudolph Giuliani'},
 {'ID': 347, 'Name': 'Russell Simmons'},
 {'ID': 348, 'Name': 'Saddam Hussein'},
 {'ID': 349, 'Name': 'Salma Hayek'},
 {'ID': 350, 'Name': 'Sarah Hughes'},
 {'ID': 351, 'Name': 'Sarah Jessica Parker'},
 {'ID': 352, 'Name': 'Scott McClellan'},
 {'ID': 353, 'Name': 'Scott Peterson'},
 {'ID': 354, 'Name': 'Sean OKeefe'},
 {'ID': 355, 'Name': 'Serena Williams'},
 {'ID': 356, 'Name': 'Sergei Ivanov'},
 {'ID': 357, 'Name': 'Sergey Lavrov'},
 {'ID': 358, 'Name': 'Sergio Vieira De Mello'},
 {'ID': 359, 'Name': 'Sharon Stone'},
 {'ID': 360, 'Name': 'Sheryl Crow'},
 {'ID': 361, 'Name': 'Shimon Peres'},
 {'ID': 362, 'Name': 'Silvan Shalom'},
 {'ID': 363, 'Name': 'Silvio Berlusconi'},
 {'ID': 364, 'Name': 'Sophia Loren'},
 {'ID': 365, 'Name': 'Sourav Ganguly'},
 {'ID': 366, 'Name': 'Spencer Abraham'},
 {'ID': 367, 'Name': 'Steffi Graf'},
 {'ID': 368, 'Name': 'Steven Spielberg'},
 {'ID': 369, 'Name': 'Steve Lavin'},
 {'ID': 370, 'Name': 'Steve Nash'},
 {'ID': 371, 'Name': 'Susan Sarandon'},
 {'ID': 372, 'Name': 'Sylvester Stallone'},
 {'ID': 373, 'Name': 'Taha Yassin Ramadan'},
 {'ID': 374, 'Name': 'Tang Jiaxuan'},
 {'ID': 375, 'Name': 'Tariq Aziz'},
 {'ID': 376, 'Name': 'Thabo Mbeki'},
 {'ID': 377, 'Name': 'Thaksin Shinawatra'},
 {'ID': 378, 'Name': 'Thomas OBrien'},
 {'ID': 379, 'Name': 'Tiger Woods'},
 {'ID': 380, 'Name': 'Tim Henman'},
 {'ID': 381, 'Name': 'Tim Robbins'},
 {'ID': 382, 'Name': 'Tommy Franks'},
 {'ID': 383, 'Name': 'Tommy Haas'},
 {'ID': 384, 'Name': 'Tommy Thompson'},
 {'ID': 385, 'Name': 'Tom Crean'},
 {'ID': 386, 'Name': 'Tom Cruise'},
 {'ID': 387, 'Name': 'Tom Daschle'},
 {'ID': 388, 'Name': 'Tom Hanks'},
 {'ID': 389, 'Name': 'Tom Harkin'},
 {'ID': 390, 'Name': 'Tom Ridge'},
 {'ID': 391, 'Name': 'Tony Blair'},
 {'ID': 392, 'Name': 'Tony Stewart'},
 {'ID': 393, 'Name': 'Trent Lott'},
 {'ID': 394, 'Name': 'Tung Chee-hwa'},
 {'ID': 395, 'Name': 'Vaclav Havel'},
 {'ID': 396, 'Name': 'Valentino Rossi'},
 {'ID': 397, 'Name': 'Valery Giscard dEstaing'},
 {'ID': 398, 'Name': 'Vanessa Redgrave'},
 {'ID': 399, 'Name': 'Venus Williams'},
 {'ID': 400, 'Name': 'Vicente Fernandez'},
 {'ID': 401, 'Name': 'Vicente Fox'},
 {'ID': 402, 'Name': 'Victoria Clarke'},
 {'ID': 403, 'Name': 'Vincent Brooks'},
 {'ID': 404, 'Name': 'Vladimir Putin'},
 {'ID': 405, 'Name': 'Vojislav Kostunica'},
 {'ID': 406, 'Name': 'Walter Mondale'},
 {'ID': 407, 'Name': 'Wayne Ferreira'},
 {'ID': 408, 'Name': 'Wen Jiabao'},
 {'ID': 409, 'Name': 'William Donaldson'},
 {'ID': 410, 'Name': 'William Ford Jr'},
 {'ID': 411, 'Name': 'William Macy'},
 {'ID': 412, 'Name': 'Winona Ryder'},
 {'ID': 413, 'Name': 'Woody Allen'},
 {'ID': 414, 'Name': 'Xanana Gusmao'},
 {'ID': 415, 'Name': 'Xavier Malisse'},
 {'ID': 416, 'Name': 'Yao Ming'},
 {'ID': 417, 'Name': 'Yashwant Sinha'},
 {'ID': 418, 'Name': 'Yasser Arafat'},
 {'ID': 419, 'Name': 'Yoko Ono'},
 {'ID': 420, 'Name': 'Yoriko Kawaguchi'},
 {'ID': 421, 'Name': 'Zhu Rongji'},
 {'ID': 422, 'Name': 'Zinedine Zidane'}]

In [8]:
#size of trainingImage Dictionary.
#since this Dictionary contains image information, printing it will create a messy look
len(trainingImage)

4579

In [9]:
#size of testImage Dictionary.
#since this Dictionary contains image information, printing it will create a messy look
len(testImage)

1406

In [10]:
#person DataFrame
person = pd.DataFrame(person)
person

      ID              Name
0      0      Abdullah Gul
1      1      Adrien Brody
2      2     Ahmed Chalabi
3      3       Ai Sugiyama
4      4    Alan Greenspan
..   ...               ...
418  418     Yasser Arafat
419  419          Yoko Ono
420  420  Yoriko Kawaguchi
421  421        Zhu Rongji
422  422   Zinedine Zidane

[423 rows x 2 columns]

In [11]:
#trainingImage DataFrame
trainingImage = pd.DataFrame(trainingImage)
trainingImage

      PersonID                                           ImageBGR
0            0  [[[183, 187, 181], [184, 188, 182], [183, 187,...
1            0  [[[57, 106, 128], [80, 129, 151], [69, 118, 14...
2            0  [[[85, 115, 140], [85, 115, 140], [85, 115, 14...
3            0  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
4            0  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
...        ...                                                ...
4574       422  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
4575       422  [[[254, 236, 207], [254, 236, 207], [254, 236,...
4576       422  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
4577       422  [[[176, 150, 150], [179, 151, 151], [183, 153,...
4578       422  [[[2, 0, 1], [2, 0, 1], [2, 0, 1], [2, 0, 1], ...

[4579 rows x 2 columns]

In [12]:
#trainingImage DataFrame is shuffling
trainingImage = trainingImage.sample(frac=1).reset_index(drop=True)
trainingImage

      PersonID                                           ImageBGR
0          150  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
1          148  [[[4, 24, 41], [4, 24, 41], [5, 25, 42], [6, 2...
2           12  [[[0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1], ...
3          120  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
4          126  [[[3, 8, 11], [4, 9, 12], [4, 9, 12], [2, 7, 1...
...        ...                                                ...
4574       236  [[[6, 8, 2], [19, 23, 17], [41, 48, 43], [74, ...
4575       222  [[[17, 105, 181], [20, 108, 184], [22, 110, 18...
4576       222  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
4577       396  [[[228, 218, 211], [221, 211, 204], [214, 204,...
4578       206  [[[83, 55, 21], [84, 56, 25], [73, 50, 24], [6...

[4579 rows x 2 columns]

In [13]:
#testImage DataFrame
testImage = pd.DataFrame(testImage)
testImage

      PersonID                                           ImageBGR
0            0  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
1            0  [[[26, 65, 74], [29, 68, 77], [30, 69, 78], [2...
2            0  [[[255, 255, 245], [255, 254, 243], [254, 252,...
3            0  [[[182, 210, 217], [172, 199, 209], [109, 135,...
4            0  [[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], ...
...        ...                                                ...
1401       420  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
1402       420  [[[245, 219, 203], [245, 219, 203], [245, 219,...
1403       421  [[[108, 129, 137], [108, 129, 137], [107, 128,...
1404       421  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
1405       422  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...

[1406 rows x 2 columns]

In [14]:
#Splitting validation data from testImage DataFrame
validationImage = testImage.sample(frac=0.5)
validationImage

      PersonID                                           ImageBGR
698        154  [[[3, 5, 0], [0, 2, 0], [0, 2, 0], [0, 2, 1], ...
1282       388  [[[106, 123, 120], [104, 121, 118], [102, 118,...
718        166  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
1119       315  [[[15, 83, 72], [16, 84, 73], [17, 85, 74], [1...
386        120  [[[131, 139, 156], [130, 138, 155], [132, 140,...
...        ...                                                ...
141         44  [[[9, 8, 52], [12, 11, 55], [13, 14, 58], [13,...
387        120  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
374        120  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
753        171  [[[142, 140, 129], [159, 157, 146], [176, 174,...
332        108  [[[116, 175, 201], [107, 163, 188], [104, 154,...

[703 rows x 2 columns]

In [15]:
#Data that is not split as validation data is kept as test data
testImage = testImage.drop(validationImage.index)
testImage

      PersonID                                           ImageBGR
0            0  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
1            0  [[[26, 65, 74], [29, 68, 77], [30, 69, 78], [2...
2            0  [[[255, 255, 245], [255, 254, 243], [254, 252,...
6            1  [[[14, 16, 70], [11, 13, 67], [9, 10, 66], [9,...
8            6  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
...        ...                                                ...
1397       417  [[[108, 122, 104], [110, 124, 106], [112, 127,...
1400       420  [[[6, 8, 16], [6, 8, 16], [6, 8, 16], [5, 8, 1...
1402       420  [[[245, 219, 203], [245, 219, 203], [245, 219,...
1403       421  [[[108, 129, 137], [108, 129, 137], [107, 128,...
1405       422  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...

[703 rows x 2 columns]

In [16]:
#validationImage DataFrame is shuffling
validationImage = validationImage.sample(frac=1).reset_index(drop=True)
validationImage

     PersonID                                           ImageBGR
0         378  [[[2, 0, 0], [2, 0, 0], [2, 0, 0], [2, 0, 0], ...
1         148  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
2         363  [[[0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1], ...
3         152  [[[211, 222, 230], [210, 221, 229], [210, 219,...
4          10  [[[32, 17, 15], [32, 17, 15], [33, 18, 16], [3...
..        ...                                                ...
698       209  [[[249, 251, 251], [250, 252, 252], [250, 252,...
699       167  [[[8, 10, 4], [8, 10, 4], [8, 10, 4], [8, 10, ...
700       115  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
701       186  [[[16, 3, 0], [16, 3, 0], [16, 3, 0], [16, 3, ...
702        71  [[[2, 0, 0], [0, 0, 0], [1, 1, 1], [0, 0, 0], ...

[703 rows x 2 columns]

In [17]:
#testImage DataFrame is shuffling
testImage = testImage.sample(frac=1).reset_index(drop=True)
testImage

     PersonID                                           ImageBGR
0         124  [[[115, 91, 7], [117, 93, 9], [117, 93, 9], [1...
1         366  [[[137, 130, 115], [134, 127, 112], [131, 124,...
2         311  [[[23, 47, 183], [42, 62, 193], [47, 59, 183],...
3           0  [[[26, 65, 74], [29, 68, 77], [30, 69, 78], [2...
4          19  [[[51, 18, 2], [51, 18, 2], [51, 19, 0], [51, ...
..        ...                                                ...
698       169  [[[138, 118, 83], [138, 118, 83], [137, 118, 8...
699       171  [[[62, 63, 24], [61, 62, 23], [60, 61, 22], [6...
700        56  [[[46, 106, 152], [47, 107, 153], [49, 109, 15...
701        95  [[[94, 131, 175], [98, 135, 179], [99, 136, 18...
702       120  [[[7, 23, 35], [4, 20, 32], [2, 18, 30], [2, 1...

[703 rows x 2 columns]

In [18]:
#Selected data save as pkl file for future uses
person.to_pickle("../Data/RawData/Selected/Person.pkl")
trainingImage.to_pickle("../Data/RawData/Selected/Training.pkl")
validationImage.to_pickle("../Data/RawData/Selected/Validation.pkl")
testImage.to_pickle("../Data/RawData/Selected/Test.pkl")